# Global settings
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  external_labels:
    environment: {{ prometheus_environment }}
    datacenter: {{ prometheus_datacenter | default('primary') }}

# Scrape configurations
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: 'node_exporter'
    scrape_interval: 10s
    static_configs:
{% for group in ['monitoring_hosts', 'application_hosts', 'bdd_hosts'] %}
{% for host in groups[group] %}
      - targets: ['{{ hostvars[host]['ansible_host'] }}:{{ node_exporter_port }}']
        labels:
          instance: "{{ host }}"
          group: "{{ group }}"
          environment: "{{ hostvars[host].environment | default('production') }}"
{% endfor %}
{% endfor %}