[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart=/usr/local/bin/prometheus \
    --config.file={{ prometheus_config_path }}/prometheus.yml \
    --storage.tsdb.path={{ prometheus_data_path }} \
    --web.console.templates={{ prometheus_config_path }}/consoles \
    --web.console.libraries={{ prometheus_config_path }}/console_libraries \
    --web.external-url={{ prometheus_web_external_url }} \
    --web.route-prefix={{ prometheus_web_route_prefix }} \
    --storage.tsdb.retention.time={{ prometheus_storage_retention_time }} \
    --storage.tsdb.retention.size={{ prometheus_storage_retention_size }}

Restart=always
RestartSec=10
NoNewPrivileges=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths={{ prometheus_data_path }}
ReadOnlyPaths={{ prometheus_config_path }}
PrivateTmp=yes
CapabilityBoundingSet=
LimitNOFILE=65535
LimitNPROC=1024

[Install]
WantedBy=multi-user.target