[server]
http_addr =
http_port = {{ grafana_port }}
domain = {{ grafana_domain }}
protocol = {{ grafana_protocol }}
root_url = {{ grafana_url }}

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}
allow_embedding = true
disable_initial_admin_creation = false
cookie_secure = {{ grafana_cookie_secure | lower }}
cookie_samesite = {{ grafana_cookie_samesite }}

[auth]
disable_login_form = false
disable_signout_menu = false

[auth.anonymous]
enabled = false

[users]
allow_sign_up = {{ grafana_allow_sign_up | lower }}
allow_org_create = {{ grafana_allow_org_create | lower }}
auto_assign_org_role = Editor

[paths]
data = {{ grafana_data_dir }}
logs = {{ grafana_logs_dir }}
plugins = {{ grafana_plugins_dir }}
provisioning = {{ grafana_provisioning_dir }}

[log]
mode = {{ grafana_log_mode }}
level = {{ grafana_log_level }}
facility = local7

[log.file]
daily_rotate = true
max_days = 7
max_size = 10485760

[session]
provider = {{ grafana_session_provider }}
provider_config = {{ grafana_session_provider_config }}
cookie_secure = {{ grafana_cookie_secure | lower }}
cookie_samesite = {{ grafana_cookie_samesite }}

{% if grafana_smtp_enabled %}
[smtp]
enabled = true
host = {{ grafana_smtp_host }}
user = {{ grafana_smtp_user }}
password = {{ grafana_smtp_password }}
from_address = {{ grafana_smtp_from_address }}
{% endif %}

[metrics]
enabled = {{ grafana_metrics_enabled | lower }}
basic_auth_username = {{ grafana_metrics_basic_auth_username }}
interval_seconds = {{ grafana_metrics_interval | regex_replace('s$','') }}

[preferences]
theme = {{ grafana_default_theme }}
timezone = {{ grafana_default_timezone }}
