[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User={{ grafana_system_user }}
Group={{ grafana_system_group }}
Environment="HOME=/usr/share/grafana"
WorkingDirectory=/usr/share/grafana

ExecStart=/usr/sbin/grafana-server \
    --config={{ grafana_config_dir }}/grafana.ini \
    --pidfile={{ grafana_pid_file_dir }}/grafana-server.pid \
    --packaging=deb \
    cfg:default.paths.data={{ grafana_data_dir }} \
    cfg:default.paths.logs={{ grafana_logs_dir }} \
    cfg:default.paths.plugins={{ grafana_plugins_dir }} \
    cfg:default.paths.provisioning={{ grafana_provisioning_dir }}

LimitNOFILE={{ grafana_max_open_files }}
TimeoutStopSec=20
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target