# prometheus.yml.j2
global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
{% for group in ['db_monitoring_servers', 'back', 'front'] %}
{% for host in groups[group] %}
      - targets: ['{{ hostvars[host]['ansible_host'] }}:9100']
        labels:
          instance: "{{ host }}"
          job: "{{ group }}"
{% endfor %}
{% endfor %}