-- Remove anonymous users
{% if mysql_secure_installation.remove_anonymous_user | default(true) %}
DELETE FROM mysql.user WHERE User='';
{% endif %}

-- Restrict root login to localhost
{% if mysql_secure_installation.disallow_root_login_remotely | default(true) %}
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ({{ mysql_root_hosts | map('quote') | join(',') }});
{% endif %}

-- Remove test database
{% if mysql_secure_installation.remove_test_database | default(true) %}
DROP DATABASE IF EXISTS test;
DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';
{% endif %}

-- Set root password
{% if mysql_secure_installation.set_root_password | default(true) %}
ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ mysql_root_password }}';
{% endif %}

-- Apply changes
FLUSH PRIVILEGES;